@model FPT_JOB.Models.Application

@{
    ViewData["Title"] = "Create";
    var userId = ViewBag.UserId;
    var jobId = ViewBag.JobId;
}

<h1>Create</h1>

<h4>Application</h4>
<hr />
<div class="container" style="display:block;">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <p>@userId | @jobId</p>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="custom-file">
                            <label asp-for="CVFile" class="form-label">CV</label>
                            <input asp-for="CVFile" class="form-control" id="customFile" />
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="JobId" value="@jobId" />
                <input type="hidden" asp-for="UserID" value="@userId" />
                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller"Job" asp-action="Index">Back to List Jobs</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
